@model List<Vehicle>




<div class="container related-cars-container-custom">

    <div class="row">
        <div class="col-lg-3"><h3>Relaterade bilar</h3></div>
    </div>

  

    <div class="row">

        @foreach (var car in Model)
        {
                <div class="col-lg-3">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <a asp-controller="Filter" asp-action="CarPage" asp-route-make="@car.Model" asp-route-model="@car.Brand.Name" asp-route-registrationNumber="@car.RegistrationNumber" asp-route-id="@car.Id">

                            <ol class="carousel-indicators"></ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    @if (car.ImageUrl == "" || car.ImageUrl == null)
                                    {
                                        <div class="col-lg-3"><img src="~/img/CarResultPlaceholderImage.jpg" height="160" width="200" alt="Alternate Text" /></div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-3"><img src="~/Images/@car.ImageUrl" height="160" width="200" alt="Alternate Text" /></div>
                                    }

                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@car.Brand.Name - @car.Model</h5>
                                        <p>@car.Year - @car.Horsepower hk- @car.Price kr</p>

                                    </div>
                                </div>

                            </div>
                        </a>

                    </div>
            </div>
        }
    </div>
   



</div>