@model Vehicle


<br />
<br />
<br />
<br />
<br />





<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/3.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 custom-contact-container-car-page">
            <h3><center>Kontakta säljare</center></h3>

            <div class="col-lg-12">
                <button class="btn btn-block btn-primary custom-call-seller-link">

                    <a href="#">@ViewBag.DealershipSpecificPhoneNumber</a>
                </button>
            </div>

            <br />
            <br />

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Billån</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Kontantinsats:</strong> @($" {(int)Model.Price * 0.2:C0} (inkl. moms)")
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Ränta:</strong> 4,5%
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input id="amount" type="number" value="@Math.Round((int)Model.Price * 0.8)" min="0" max="10000000" step="any" onchange="carLoan();" hidden />
                        <input class="form-control w-50" id="interest_rate" type="number" min="0" max="100" value="4.5" step=".1" onchange="carLoan();" hidden>

                        <input id="amount" type="number" value="@Math.Round((int)Model.Price * 0.8)" min="0" max="10000000" step="any" onchange="carLoan();" hidden />
                        <input class="form-control w-50" id="interest_rate" type="number" min="0" max="100" value="4.5" step=".1" onchange="carLoan();" hidden>
                        <strong>Avbetalningstid: </strong>
                        <select class="form-control w-50" id="months" onchange="carLoan();">
                            <option value="12">12 månader</option>
                            <option value="24">24 månader</option>
                            <option value="36">36 månader</option>
                            <option value="48">48 månader</option>
                            <option value="60">60 månader</option>
                            <option value="72">72 månader</option>
                        </select>
                        <p id="payment"></p>
                    </div>
                </div>

            </div>

            <script>
                function carLoan() {
                    var amount = document.getElementById('amount').value;
                    var interest_rate = document.getElementById('interest_rate').value;
                    var months = document.getElementById('months').value;
                    var interest = amount * (interest_rate * .01) / months;
                    var payment = (amount / months + interest).toFixed(2);
                    payment = payment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById('payment').innerHTML = "<strong>Månadskostnad från:</strong> " + payment + " Kr (inkl. moms)";
                }
            </script>



            <div class="col-lg-12">
                <div class="btn btn-block btn-primary custom-call-seller-link">
                    <form asp-action="Link" asp-controller="Contact" method="post">
                        <div class="form-group">
                            <input type="hidden" name="Brand" value="@Model.Brand.Name" />
                            <input type="hidden" name="Model" value="@Model.Model" />
                            <input type="hidden" name="RegistrationNumber" value="@Model.RegistrationNumber" />
                            <input type="hidden" name="CarId" value="@Model.Id" />
                            Email:<input type="text" name="Email">
                            <br />

                            <button type="submit" class="btn btn-primary">Skicka</button>
                        </div>
                    </form>

                </div>

            </div>


        </div>
    </div>


</div>

<br />
<br />

<div class="container custom-car-info-super-container">
    <div class="row">
        <div class="col-lg-6"><h3>@Model.Model (@Model.Horsepower)</h3></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2"><h3>@Model.Price kr</h3></div>
    </div>

    <hr />

    <center>
        <div class="row">
            <div class="col-lg-2">
                <div class="card" style="width: 80%;">
                    <div class="card-body">
                        <p class="card-title font-weight-light">Märke</p>
                        <p class="card-text font-weight-bolder">@Model.Brand.Name</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="card" style="width: 80%;">
                    <div class="card-body">
                        <p class="card-title font-weight-light">Modell</p>
                        <p class="card-text font-weight-bolder">@Model.Model</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card" style="width: 80%;">
                    <div class="card-body">
                        <p class="card-title font-weight-light">Årsmodell</p>
                        <p class="card-text font-weight-bolder">@Model.Year</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card" style="width: 80%;">
                    <div class="card-body">
                        <p class="card-title font-weight-light">Miltal</p>
                        <p class="card-text font-weight-bolder"> @Model.Mileage</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card" style="width: 80%;">
                    <div class="card-body">
                        <p class="card-title font-weight-light">Drivmedel</p>
                        <p class="card-text font-weight-bolder">@Model.Fuel</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="card" style="width: 80%;">
                    <div class="card-body">
                        <p class="card-title font-weight-light">Växellåda</p>
                        <p class="card-text font-weight-bolder">@Model.Transmission</p>

                    </div>
                </div>
            </div>

        </div>

        <br />

        @*<div class="row">
                <div class="col-lg-2 font-weight-bolder">BMW</div>
                <div class="col-lg-2 font-weight-bolder">X3</div>
                <div class="col-lg-2 font-weight-bolder">2013</div>
                <div class="col-lg-2 font-weight-bolder">13 102</div>
                <div class="col-lg-2 font-weight-bolder">Bensin</div>
                <div class="col-lg-2 font-weight-bolder">Maniell</div>
            </div>*@
    </center>
</div>

<br />

<div class="container custom-car-info-super-container">
    <div class="row">
        <div class="col-lg-6"><h3>Utrustning</h3></div>
    </div>

    <hr />
    @Model.Attributes
    @*<div class="row">
        <div class="cl-lg-3">
            <ul>
                <li>Alu.hjul 17\"</li>
                <li>AWD</li>
                <li>Avstängningsbar krockkudde pas</li>
                <li>Blåtands handsfree</li>
                <li>Bränslevärmare</li>
                <li>CD/Stereo</li>
            </ul>
        </div>

        <div class="cl-lg-3">
            <ul>
                <li>Alu.hjul 17\"</li>
                <li>AWD</li>
                <li>Avstängningsbar krockkudde pas</li>
                <li>Blåtands handsfree</li>
                <li>Bränslevärmare</li>
                <li>CD/Stereo</li>
            </ul>
        </div>

        <div class="cl-lg-3">
            <ul>
                <li>Alu.hjul 17\"</li>
                <li>AWD</li>
                <li>Avstängningsbar krockkudde pas</li>
                <li>Blåtands handsfree</li>
                <li>Bränslevärmare</li>
                <li>CD/Stereo</li>
            </ul>*@
    @*</div>
        </div>*@
</div>

<br /><br />

<div class="container related-cars-container-custom">

    <div class="row">
        <div class="col-lg-3"><h3>Relaterade bilar</h3></div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/1.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>BMW X3</h5>
                            <p>2009 - 137hk</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/2.jpg" alt="Second slide">

                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/3.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/1.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>BMW X3</h5>
                            <p>2009 - 137hk</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/3.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/1.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>BMW X3</h5>
                            <p>2009 - 137hk</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/caoursel-test-images/3.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


</div>