@model BolindersBil.web.ViewModels.HomeViewModel;






@{
    ViewData["Title"] = "HomeView";
}

<h1>HomeView</h1>



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>


    <div class="jumbotron set-background-image">

        <div class="row">
            <div class="col-lg-8"><img src="~/img/volvo-front.jpg" class="custom-test-class"></div>
            <div class="col-lg-4">
                <br />
                <br />
                <h1 class="display-4">Bolinders Bil AB</h1>
                <p class="lead">Köp nya och begagnade bilar hos oss.</p>
                <hr class="my-4">
                <p>Välkommen att utforska vårt sortiment.</p>
                @*<p class="lead">
                    <a class="btn btn-primary" href="#" role="button">Hitta min bil</a>
                </p>*@

                <br />

                <form asp-controller="Filter" asp-action="Search">

                    <div class="form-group">
                        <input asp-for="SearchString" class="custom-seatch-input" placeholder="Sök bil här..." />
                        <button class="btn pull-right btn-outline-primary" type="submit">Sök</button>
                    </div>
                    
                </form>
            </div>
        </div>



    </div>










</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <!--==========================
      Services Section
    ============================-->
    <!--==========================
      Portfolio Section
    ============================-->



    <section id="clients" class="section-bg">

        <div class="container">

            <div class="section-header">
                <h3>Välj märke</h3>
                <p>Hitta din bil utifrån märket.</p>
            </div>

            <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <a asp-controller="Filter" asp-action="Index" asp-route-state="wolksvagen">
                            <img src="~/img/car-logos/Volkswagen-logo-2015-1920x1080.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>

              
                       
                
                
            </div>

        </div>

    </section>


    <br />
    <br />




    <h2>Nyheter</h2>
    <hr />


    @if (Model.ArticlesResults != null)
    {


        @foreach (var article in Model.ArticlesResults.Articles.Take(3))
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@article.Author - <i><small>@article.PublishedAt</small></i></h6>
                    <p class="card-text">@BolindersBil.web.Infrastructure.NewsApiExtension.ShortenString(article.Description, 50)...</p>
                    <a href="@article.Url" target="_blank" class="card-link">Läs mer</a>
                    <br />
                </div>
            </div>
            <br />
        }
    }


    <br />



    <br />



</main>
