@model Vehicle


@*<a asp-controller="Filter" asp-action="CarPage" asp-route-id="@Model.Id" >*@

<form asp-controller="Filter" asp-action="CarPage" asp-route-id="@Model.Id" >
    <div class="container car-result-custom-container">
        <div class="row">
            <div class="col-lg-3"><img src="~/img/CarResultPlaceholderImage.jpg" height="160" width="200" alt="Alternate Text" /></div>
            <div class="col-lg-4">
                <div class="custom-car-result-heading">@Model.Brand</div>

                <br />

                <div class="custom-car-result-subheading"> @($"{Model.Year} - {Model.Mileage} - {Model.Dealership}")</div>
                <br />
                <br />
                <br />



                <div class="custom-car-result-heading">@Model.Price</div>
                <br />
                <div class="custom-car-result-subheading">
                    535 200 kr exkl. moms
                </div>
            </div>



        </div>
    </div>

    <button type="submit" >skicka</button>
</form>
@*</a>*@