@model Vehicle

<tr>
    <td class="custom-checkbox text-center">
        <input type="checkbox" class="form-check-input" id="vehiclesIdToDelete" name="vehiclesIdToDelete" value="@Model.Id">
    </td>
    <td class="text-right">@Model.Id</td>
    <td>@Model.Model</td>
    <td class="text-right">@Model.Price.ToString("c")</td>
    <td class="text-center">

        <form asp-action="Delete" method="post">
            <a asp-action="Edit" class="btn btn-sm btn-warning"
               asp-route-productId="@Model.Id">
                Redigera
            </a>
            &nbsp;
            <input type="hidden" name="VehicleID" value="@Model.Id" />
            <button type="submit" class="btn btn-danger btn-sm">
                Ta bort
            </button>
        </form>
    </td>
</tr>
        