@model IEnumerable<Vehicle>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Vehicle administration</h2>
    </div>
    <div class="col-md-6">
        <span class="pull-right"></span>
    </div>
</div>



<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="text-right">Id</th>
        <th>Model</th>
        <th class="text-right">Price</th>
        <th class="text-center">Hantera</th>
    </tr>

    @foreach (var v in Model)
    {
        <tr>
            <td class="text-right">@v.Id</td>
            <td>@v.Model</td>
            <td class="text-right">@v.Price.ToString("c")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-productId="@v.Id">
                        Redigera
                    </a>
                    <input type="hidden" name="VehicleID" value="@v.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Ta bort
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Index" class="btn btn-primary">Skapa ny produkt</a>
</div>